.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("https://assets-global.website-files.com/614716f50b4f49202fdd0087/616949393cf90643c1403605_6423.png");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lock-display{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  width: 330px;
  height: 240px;
  background-color: white;
  font-size: 100px;
}

/* Bottom div  lockscreen */
.bottom-div-lock{
  width: 330px;
  height: 60px;
  background-color: #E3F2FD;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
