/* For the outer case container */
.case-container{
    height: 742px;
    width: 370px;
}

/* For the inner part */
.case{
    height: 692px;
    width: 370px;
    border-radius: 20px;
    margin-top: 55px;
    border: 2px solid rgb(158, 158, 158);
    margin-left: -2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px 2px white;
    -webkit-box-reflect: below 12px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(177, 56, 56, 0.085)));
}

h1
{
    color: white;
}
