/* the complete display */
.display
{
    background-color: white;
    height: 330px;
    width: 330px;
    margin-top: 25px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 5px solid black;
    box-shadow: 0 0 7px 2px white;
    position: relative;
}

/* for the menu with no objective */
.blank-div
{
    padding: 10px;
    height: 270px;
    width: 310px;
    background-color: white;
    text-align: center;
}

/* the texts inside blank div */
.empty-text{
    text-align: center;
    color: black;
}