.lock-display{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #E3F2FD; */
    color: white;
    width: 330px;
    height: 240px;
    font-size: 100px;
  }
  
  /* Bottom div  lockscreen */
  .bottom-div-lock{
    width: 330px;
    height: 50px;
    /* background-color: #E3F2FD; */
    background-color: white;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }