/* Container for menu */
.menu-container{
    display: flex;    
}

/* Menu options */
.menu{
    background-color: #E3F2FD;
    height: 300px;
    width: 165px;
}

/* container for Leaf images in menu */
.leaf{
    border-left: 1px solid black;
    background-color: #E3F2FD;
    height: 300px;
    width: 165px;
}

/* Heading of menu */
h3{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* List for menu items */
ul{
    width: 100%;
    padding: 0px;
    list-style: none;
}

/* list item */
li{
    height: 49.5px;
    padding-top: 19.5px;
    font-size: 1.4rem;
}

/* Active list item */
.active{
    position: relative;
    background-color: rgb(55, 150, 220);
    color: white;
    font-weight: 900;
}

/* Leaf image */
.leaf-img{
    height: 300px;
    width: 165px;
}