/* Container for menu */
.menu-container{
    display: flex;    
}

/* Menu options */
.main-menu{
    background-color: white;
    height: 290px;
    width: 163px;
}

/* container for Leaf images in menu */
.leaf{
    border-left: 4px solid black;
    /* background-color: #E3F2FD; */
    background-color: white;
    height: 290px;
    width: 163px;
}

/* List for menu items */
.main-menu ul{
    height: 290px;
    padding: 0px;
}


/* list item */
.main-menu li{
    height: 46.5px;
    padding-top: 19.5px;
    font-size: 1.4rem;
}

/* Active list item */
.main-menu .active{
    background-color: rgb(55, 150, 220);
    color: white;
    font-weight: 900;
    border-radius: 8px;
}

/* Leaf image */
.leaf-img{
    height: 280px;
    width: 155px;
    border: 5px solid white;
    border-radius: 20px;
}