/* whole navigation bar */
.bar{
    display: flex;
    width: 330px;
    height: 30px;
    min-height: 20px;
    /* background-color: #E3F2FD; */
    background-color: white;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
}

/* ipod logo */
.heading{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    font-size: 16px;
}

/* battery icon */
.battery{
    width: 31px;
    height: 20px;
    font-size: 1.4rem;
}

/* container for battery and play pause icon */
.right-container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    width: 60px;
}

/* play pause icon in right */
.play-pause-nav{
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    color: #039BE5;
}

/* notification */
.notification{
    color: #039BE5;
    margin: 1px;
    margin:auto;
    padding: 0px;
    text-align: center;
}